.btn {
	background-color: #00e4a1;
	border: 0;
	border-radius: 12px;
	width: 120px;
	height: 42px;
	color: #fff;
	font-weight: 600;
	font-size: 1rem;
	cursor: pointer;
	box-shadow: 0 4px 18px rgba(0, 228, 161, 0.4);
	margin: 25px 0 15px 0;
}
