.user_support{
    z-index: 1;
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.05);
border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    color: #252644;
}

.user_message > h1{
    position: absolute;
    width: 349.6px;
    height: 39.33px;
    left: 350px;
    top: 20px;
    
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 32.7751px;
    line-height: 39px;
    
    color: #252644;
}
.user_message > p{
    position: absolute;
width: 587.77px;
height: 44.79px;
left: 220px;
top: 60px;

font-family: 'Maven Pro';
font-style: normal;
font-weight: 400;
font-size: 17.39px;
line-height: 20px;
text-align: center;

color: rgba(42, 44, 65, 0.7);

}
form > textarea{
position: absolute;
width: 700px;
height: 280px;
left: 170px;
top: 140px;
background: #F4F6F9;
border: 2.18501px solid #C8C8C8;
box-sizing: border-box;
border-radius: 15.2951px;
text-align:left;
}
form > button{
    position: absolute;
    width: 105.97px;
    height: 38.24px;
    left: 770px;
    top: 450px;
    background: #FFBE00;
    box-shadow: 0px 10px 30px rgba(255, 190, 0, 0.4);
    border-radius: 15px;
}
.info{
    position: absolute;
width: 800px;
height: 42.61px;
left: 180px;
top: 600px;

font-family: 'Maven Pro';
font-style: normal;
font-weight: 500;
color: #252644;
}

.acc_title{
    position: absolute;
width: 800px;
height: 42.61px;
left: 220px;
top: 520px;

font-family: 'Maven Pro';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;

color: #252644;
}
