.productpost{
  position: absolute;
  z-index: 0;
  border-radius: 30px;
  width: 550px;
  height: 89vh;
  background-color: rgb(250, 224, 224);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formgroup{
    display: flex;
    flex-direction: column;
    font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #2A2C41;
  }
  .bar{
    margin: 20px;
    width: 80px;
    text-align: center;
    height: 40px;
    background: #F4F6F9;
    border: none;
    box-sizing: border-box;
    border-radius: 10px;
  }
  .group>strong,.group>Button{
    margin-left: 25px;
  }
  .group > Button{
      margin-top: 20px;
  }
.desc{
width: 500px;
height: 200px;
padding: 0 20px 0 20px;
border: none;
margin-left:15px ;
margin-top: 15px;
background: #F4F6F9;
box-sizing: border-box;
border-radius: 15.2951px;
text-align:left;
}

.customfileupload {
  width: 480px;
  margin-top: 60px;

  height: 220px;
padding-top: 10px;
  padding-left: 22%;
  cursor: pointer;
  border-radius: 25px;
border: dotted 5px #63d3a6;
  margin-bottom: 30px;
}

.imgwrap{
  position: relative;
  width: 300px;
  height: 190px;
  overflow: hidden;
}
.imgupload:before{
  content: "\f093";
  font-size: 90px;
  position: absolute;
  padding-top: 25%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #63d3a6;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  opacity: 0;
  transition: .5s ease;
  background-color: #fff;
}
.imgupload:hover:before{
 opacity: 1;
}
img {
  width: 280px;
  height: 100%;
}
.formContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  .inputField {
    background-color: #f5f7fa;
    outline: none;
    border: 0;
    border-radius: 15px;
    margin: 15px;
    height: 60px;
    width: 500px;
    padding: 0 20px 0 20px;
    color: #252644;
    font-weight: 500;
    -size: 0.95rem;
  }
  
  input:focus {
    outline:font none;
  }
  
  ::placeholder {
    color: #9d9d9d;
    font-weight: 500;
    font-size: 0.95rem;
  }
  .lineConatin{
    display: flex;
    flex-direction: row;
  }
  .Box{
    display: flex;
    flex-direction: row;
  }